.vs/HMarket/DesignTimeBuild/.dtbcache.v2
.vs/HMarket/FileContentIndex/2172dd02-bc5b-4778-8a56-4bea66c005da.vsidx
.vs/HMarket/FileContentIndex/227c9709-74a0-47b6-9b84-e5e965768747.vsidx
.vs/HMarket/FileContentIndex/2f8d34f1-4f34-449a-9981-3d069330e5a3.vsidx
.vs/HMarket/FileContentIndex/9335cd75-75b5-4ee7-ab27-e282a31c9710.vsidx
.vs/HMarket/v17/.futdcache.v2
.vs/HMarket/v17/.suo
.vs/ProjectEvaluation/hmarket.metadata.v6.1
.vs/ProjectEvaluation/hmarket.projects.v6.1
