.vs/HMarket/DesignTimeBuild/.dtbcache.v2
.vs/HMarket/FileContentIndex/2172dd02-bc5b-4778-8a56-4bea66c005da.vsidx
.vs/HMarket/FileContentIndex/227c9709-74a0-47b6-9b84-e5e965768747.vsidx
.vs/HMarket/FileContentIndex/2f8d34f1-4f34-449a-9981-3d069330e5a3.vsidx
.vs/HMarket/FileContentIndex/9335cd75-75b5-4ee7-ab27-e282a31c9710.vsidx
.vs/HMarket/v17/.futdcache.v2
.vs/HMarket/v17/.suo
.vs/ProjectEvaluation/hmarket.metadata.v6.1
.vs/ProjectEvaluation/hmarket.projects.v6.1
BusinessLogic/bin/Debug/net7.0/Core.pdb
BusinessLogic/bin/Debug/net7.0/Core.dll
BusinessLogic/bin/Debug/net7.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net7.0/BusinessLogic.dll
.vs/HMarket/FileContentIndex/263a34b9-d529-4844-b129-655cf2471fed.vsidx
.vs/HMarket/FileContentIndex/4942c8ad-7198-469d-8081-c6b4275e4019.vsidx
.vs/HMarket/FileContentIndex/9d20a97c-3b36-43e7-bc0f-eb5c97cd4e5a.vsidx
.vs/HMarket/FileContentIndex/de70014d-582a-48ab-818b-1555835457ab.vsidx
WebApi/obj/Debug/net7.0/refint/WebApi.dll
BusinessLogic/obj/Debug/net7.0/BusinessLogic.csproj.AssemblyReference.cache
BusinessLogic/obj/Debug/net7.0/BusinessLogic.dll
BusinessLogic/obj/Debug/net7.0/BusinessLogic.pdb
BusinessLogic/obj/Debug/net7.0/ref/BusinessLogic.dll
BusinessLogic/obj/Debug/net7.0/refint/BusinessLogic.dll
Core/bin/Debug/net7.0/Core.dll
Core/bin/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/Core.dll
Core/obj/Debug/net7.0/Core.pdb
Core/obj/Debug/net7.0/ref/Core.dll
Core/obj/Debug/net7.0/refint/Core.dll
WebApi/bin/Debug/net7.0/BusinessLogic.dll
WebApi/bin/Debug/net7.0/BusinessLogic.pdb
WebApi/bin/Debug/net7.0/Core.dll
WebApi/bin/Debug/net7.0/Core.pdb
WebApi/bin/Debug/net7.0/WebApi.dll
WebApi/bin/Debug/net7.0/WebApi.pdb
WebApi/obj/Debug/net7.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net7.0/WebApi.dll
WebApi/obj/Debug/net7.0/WebApi.pdb
WebApi/obj/Debug/net7.0/ref/WebApi.dll
